* {
  text-decoration: none;
}

.conteudo-contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conteudo-contatos-titulo {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  color: #def1ff;
  text-decoration: underline;
  margin-top: 80px;
}

.conteudo-contatos-paragrafo{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    color: #DEF1FF;
    margin-top: 32px;
    font-size: 23px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-contatos-paragrafo-link{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 500;
    color: #DEF1FF;
}

.conteudo-redes-sociais {
  margin-top: 22vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.conteudo-redes-sociais-titulo {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #def1ff;
  text-decoration: underline;
}

.conteudo-redes-sociais-imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.conteudo-redes-sociais-imagens-logo {
  max-width: 50px;
  max-height: 50px;
}
