<section class="conteudo-contatos">
  <h1 class="conteudo-contatos-titulo">Meus Contatos:</h1>
  <p class="conteudo-contatos-paragrafo">Nome: Angelo Lorensi Mozzaquatro</p>
  <p class="conteudo-contatos-paragrafo">Telefone: <a class="conteudo-contatos-paragrafo-link" href="https://contate.me/angelo.lorensi">(55) 98462-2958</a></p>
  <p class="conteudo-contatos-paragrafo">E-mail: <a class="conteudo-contatos-paragrafo-link" href="mailto:angelolorensi@gmail.com"> angelolorensi@gmail.com</a></p>
</section>

<section class="conteudo-redes-sociais">
 <p class="conteudo-redes-sociais-titulo"><u>Redes Sociais:</u></p>
  <nav class="conteudo-redes-sociais-imagens">
    <a href="https://github.com/angelolorensi"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_github.png" alt="link para github"></a>
    <a href="https://twitter.com/Angelo_Lorensi"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_twitter.png" alt="link para twitter"></a>
    <a href="https://www.facebook.com/angelo.mozzaquatro"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_facebook.png" alt="link para facebook"></a>
    <a href="https://www.instagram.com/angelo_lorensi/"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_instagram.png" alt="link para instagram"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_linkedin.png" alt="link para linkedin"></a>
  </nav>
</section>
