<div class="container">
  <h1 class="conteudo-titulo">Sobre mim:</h1>

  <div class="conteudo-texto">
    <p class="conteudo-texto-paragrafo">
      Meu nome é Angelo Lorensi Mozzaquatro, sou Brasileiro e Gaúcho, nascido em
      Santa Maria em 4 de outubro de 2000, sempre gostei de ouvir podcasts e foi
      através destes que descobri a programação, mais precisamente através do
      NerdCast, que já a alguns anos vem anunciando a Alura Cursos nos seus
      programas. No fim de 2019 assinei a alura e depois de completar o primeiro
      curso de iniciante em programação percebi que era algo que eu amaria fazer
      para viver, a possibilidade de resolver problemas complexos e criar
      aplicações que podem facilitar a vida das pessoas é algo que me fez brilhar
      os olhos, então dali em diante estou fazendo um curso atrás do
      outro,praticando o máximo possível para aperfeiçoar meus códigos, realizando
      os desafios da alura e cursando a faculdade de Engenharia de Software, após
      me aperfeiçoar minimamente na linguagem java e começar a usar o framework
      spring boot percebi que precisaria aprender um pouco de front-end se
      quisesse fazer projetos reais, então fui pesquisar sobre os frameworks para
      front-end e acabei vendo muitos projetos usando Spring Boot como API e
      Angular para o front, procurei sobre e acabei gostando muito do framework e
      desenvolvendo alguns projetos com Angular incluindo está landing page.
    </p>
  </div>
</div>
