<h1 class="titulo-principal">Olá, Eu sou Angelo Lorensi.</h1>
<h2 class="titulo-subtitulo">Sou um estudante de engenharia de software de Santa Maria RS, que está no caminho para se tornar um desenvolvedor com foco nas linguagens Angular e Java.</h2>
<h2 class="titulo-subtitulo">Criei esta landing page como um projeto de desenvolvimento web e para que interessados possam conhecer meu trabalho.</h2>

<section class="conteudo-redes-sociais">
 <p class="conteudo-redes-sociais-titulo"><u>Redes Sociais:</u></p>
  <nav class="conteudo-redes-sociais-imagens">
    <a href="https://github.com/angelolorensi"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_github.png" alt="link para github"></a>
    <a href="https://twitter.com/Angelo_Lorensi"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_twitter.png" alt="link para twitter"></a>
    <a href="https://www.facebook.com/angelo.mozzaquatro"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_facebook.png" alt="link para facebook"></a>
    <a href="https://www.instagram.com/angelo_lorensi/"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_instagram.png" alt="link para instagram"></a>
    <a href="https://www.linkedin.com/in/angelo-lorensi-52745a20b/"><img class="conteudo-redes-sociais-imagens-logo" src="\assets\img\logo_linkedin.png" alt="link para linkedin"></a>
  </nav>
</section>

